:root {
    --vermelho: #e50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: black;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

header .logo {
    margin-left: 25px;
    margin-right: 25px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

.net-logo {
    width: 120px;
    max-height: 120px;
}

header nav a {
    color: #aaa;
    font-size: 15px;
    text-decoration: none;
    margin-right: 10px;
    padding-left: 10px;
    font-family: 'Arial', Times;
    font-weight: bold;
}

header .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    margin-right: 50px;
}

header nav a:hover {
    color: #fff;
}

.fas .fa-bell {
    color: #fff;
    size: 40px;
    margin-right: 10px;
}

.fas .fa-bell:hover {
    color: var(--vermelho);
}

h2 {
    font-size: 30px;
    font-family: 'Arial Black', Times;
}

.item-box {
    margin-left: 20px;
    margin-right: 20px;
}

/* Filme principal */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../assets/capa-house.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin-bottom: 20px; */
}

.filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
    max-width: 900px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.owl-carousel .owl-theme {
    max-height: 90px;
}

.item {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
}

.carrosel-filmes:focus-within .item, .container:hover .item {
    transform: translateX(-25%);
}

.item:focus~.item, .item:hover~.item {
    transform: translateX(25%);
}

.carrosel-filmes .item:focus, .carrosel-filmes .item:hover {
    transform: scale(1.3);
    z-index: 1;
}

/* body {
    overflow: hidden;
} */

.item img {
    display: block;
    max-width: 100%;
}

.footer-text {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* justify-content: space-between; */

.footer-text .footer-info-1 a {
    display: flex;
    font-size: 16px;
    color: #aaa;
    text-decoration: none;
    flex-direction: column;
    align-items: left;
    font-family: 'Arial', Times;
    font-weight: bold;
    justify-content: space-between;
}

.footer-text .footer-info-1 a:hover {
    color: #fff;
}

.footer-text .footer-info-2 a {
    display: flex;
    font-size: 16px;
    color: #aaa;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
    font-family: 'Arial', Times;
    font-weight: bold;
    justify-content: space-between;
}

.footer-text .footer-info-3 a {
    display: flex;
    font-size: 16px;
    color: #aaa;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
    font-family: 'Arial', Times;
    font-weight: bold;
    justify-content: space-between;
}

.footer-text .footer-info-4 a {
    display: flex;
    font-size: 16px;
    color: #aaa;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
    font-family: 'Arial', Times;
    font-weight: bold;
    justify-content: space-between;
}